* {
    background-color: whitesmoke;
    color: black;
    border: none;
}

.board {
    display: grid;
    height: 1200px;
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-image: url("board.png");
    background-size: cover;
    background-position: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 300px;
    cursor: pointer;
    background-color: transparent;
}