* {
    background-color: black;
    color: red;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid red;
    gap: 6px;
    padding: 2px;
    background-color: red;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    border: 3px solid black;
    background: whitesmoke;
    cursor: pointer;
}