* {
    background-color: whitesmoke;
    color: red;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    background: whitesmoke;
    cursor: pointer;
    border-image-slice:
        180 180 180 180;
    border-image-width:
        30% 30% 30% 30%;
    border-image-outset:
        0px 0px 0px 0px;
    border-image-repeat:
        stretch stretch;
    border-image-source:
        url("tttBorder.png");
}